button.react-misc-button {
    display: flex;
    flex-direction: row;
    height: 40px;
    min-width: 40px;
    border: 0.05rem solid;
    border-radius: 10px;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    transition-property: all;
    font-size: 16px;
}

button.react-misc-button span.react-misc-button-label {
    padding: 0px 5px;
}

button.react-misc-button.primary {
    color: var(--text-color-primary);
    background-color: var(--primary);
    border-color: var(--primary);
}

button.react-misc-button.secondary {
    color: var(--text-color-primary);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

button.react-misc-button.tertiary {
    color: var(--text-color-secondary);
    background-color: var(--tertiary);
    border-color: var(--text-color-secondary);
}

button.react-misc-button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

button.react-misc-button:active {
    transform: scale(0.98);
}