html *
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   --primary: #038ffadb;
   --secondary: #7b7b7b;
   --tertiary: #efefef;
   --success: #00bc4bb7;
   --warning: #ff9900d5;
   --danger: #ff00009a;
}

html.dark {
    --background-color: #222425;
    --foreground-color: #F6F9FC;
    --text-color-primary: #F6F9FC;
    --text-color-secondary: #222425;
    --content-background: #73828C;
    --placeholder: #7b7b7b;
}

html.light {
    --background-color: #F6F9FC;
    --foreground-color: #222425;
    --text-color-primary: #F6F9FC;
    --text-color-secondary: #222425;
}

.mt-10 {
    margin-top: 10px;
}